* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display:table;
    clear:both;
}
/* Stile sezione barra blu */
.barra-blu {
    background-color: #0d325a;
}

.blocco-sup {
    color: white;
    width: 90%;
    margin: 0 auto;
    height: 600px;
    max-width: 1200px;
}
/* STILE NAV */
nav {
    padding-top:15px;
    width: 100%;
    height:100px;
}

.nav-logo {
    width: 20%;
    float:left;
}

.nav-ul {
    width: 40%;
    float:left;
    text-align: center;
}

.nav-login {
    width: 40%;
    float:right;
    text-align: right;
}

.nav-login ul li, .nav-ul ul li {
    display:inline;
}
/* FINE NAV */

.titolo {
    width: 60%;
    height:500px;
    position:relative;
    float:left;
}

.banner {
    position: absolute;
    top:40%;
    left:0;
    transform: translate(0, -50%);
}
.piano-centrale {
    border-top: 25px;
    border-radius: 5%;
    background-color: #7fb802;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
}

.immagine {
    height:500px;
    width: 40%;
    float:left;
}
.immagine img {
    height: 100%;
    transform: translate(-25%,0);
}
/* FINE BARRA BLU */
/* INIZIO BARRA GRIGIA */
.barra-grigia {
    background-color: #f9f9f9;
}

.testo-cx {
    padding: 15px 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
}

/* FINE BARRA GRIGIA */
/* INIZIO BARRA BIANCA */

.barra-bianco {
    border-bottom: 2px solid grey;
}

.blocco {
    max-width: 1200px;
    width: 90%;
    margin: 15px auto 0;
    height: 400px;
    text-align: center;
}

.scheda {
    width: 33.333333%;
    height: 100%;
    text-align: center;
    float:left;
}

.scheda img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

h6 {
    font-size: 23px;
    min-height: 50px;
    color: #7fb802;
}

hr {
    width: 32px;
    opacity: 0.3;
    margin: 10px auto;
}

p {
    color: #999;
    padding: 0 30px;
}

/* FINE BARRA BIANCA */

a {
    text-decoration: none;
    color: white;
}
